<div class="row contentRow ">
    <div class="row">
        &nbsp;
    </div>
    <div class="row rowHeight100">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center rowHeight100">
            <img src="{{surveyImage.imageURL}}" class="surveyLogo surveyLogo300px"/>
        </div>
    </div>
    <div class="row rowHeight100">
        <div class="col-xs-12 col-sm-12 col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row rowHeight100">
        <div id="divInstructions" class="col-xs-12 col-sm-12 col-md-12 text-center rowHeight100 beginSurveyText">
            {{surveyInstructions}}
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>

    <div class="row borderCss" id="controlButton">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center minHeight50 whiteBackground">
            <table class="lrsTable">
                <tr>
                    <td class="lrsTd middleAlign startText">
                        <a href="#" class="linkColor" id="lnkStartSurvey">
                            {{t 'start'}}
                        </a>
                    </td>
                </tr>

            </table>
        </div>
    </div>


</div>
