<div class="topbar">
    <table cellspacing="0" cellpadding="0" class="tablelrs">
        <tr>
            <td id="topbarLeftContainer" class="td middle left px10"></td>
            <td id="topbarCenterContainer" class="td middle center">Topbar</td>
            <td id="topbarRightContainer" class="td middle centerAligned px50"></td>
        </tr>
    </table>
</div>

